<h1 class="jams-new-h1">Add your Instrument</h1>
<div class="container jams-new">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-sm-offset-3">
       <%= simple_form_for [@jamm, @participation] do |f| %>
        <%= f.input :instrument, collection: @instruments.group_by(&:category), as: :grouped_select, group_method: :last, label_method: :name, value_method: :id, include_blank: false %>
    <div id="f2submit"><%= f.submit "Add" %><div>
<% end %>
    </div>
  </div>
</div>
