<div class="modal fade" id="editSkillModal<%= skill.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editSkillModal<%= skill.id %>">Edit <%= skill.instrument.name %></h4>
      </div>

      <div class="modal-body">
        <%= render "skills/form", skill: skill, instruments: Instrument.all, action: "edit", selected_instrument: skill.instrument %>
        </div>
    </div>
  </div>
</div>
