<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>SoulJam</h1>
    <p>Let's speak the language of the soul</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<% content_for(:footer_class, "footer-home") %>
