
<% user = participation.user %>

<div id="participant-<%= user.id %>">
  <p>email: <%= user.email %> </p>
  <p>instrument: <%= participation.instrument.name %></p>
  <p>status: <%= participation.status %> </p>
</div><br>
