<%= form_tag jamms_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a jam in your city"
  %>
<% end %>
<h3 class="h3-tab-content-title margin-left5pc">All Jams</h3>
<div class="container">
  <div class="row">
      <% @jamms.each do |jamm| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "pages/jamms_tab_card", jamm: jamm %>
        </div>
      <% end %>
  </div>
</div>

<div class="container container-sticky-right">
  <div class="hover">
    <span>Jam Toolbar</span>
    <a class="jam-options-link" href="/" target="_self">
      <i class="fas fa-home"></i></a>
    <a class="jam-options-link" href="/dashboard" target="_self">
      <i class="fas fa-user"></i></a>
    <a class="jam-options-link" href="" target="_self">
      <i class="fas fa-search"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "jam-options-link",target:"_self",rel:"nofollow" do %>
        <i class="fas fa-sign-out-alt"></i>
        <% t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
</div>
