.card {
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  width: 100%;
}
.card-header {
  padding-bottom: 5px;
  padding-top: 15px;
  background-color: #E5E5E5;
  padding-left: 15px;
  color: black;
  font-weight: bolder;
}
.list-group-item {
  color: black;
  i {
    padding-right: 10px;
    font-size: 15px;
    margin-left: 25px;
    color: #6BCDC1;
  }
}
.h3-tab-content-title {
  color: black;
  margin-bottom: 30px;
  margin-left: 50px;
}
.list-group-item:last-child {
  margin-bottom: 80px;
}
.card-image-top2 {
  height: 50vh;
  // background-size: cover;
}
