.card {
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  width: 100%;
}
.card-header {
  padding-bottom: 5px;
  padding-top: 3px;
  background-color: #E5E5E5;
  padding-left: 15px;
  color: #100444;
  font-weight: bolder;
}
.list-group-item {
  color: black;
  justify-content: space-evenly;
  i {
    padding-right: 10px;
    font-size: 15px;
    margin-left: 25px;
    color: $blue;
  }
}
.h3-tab-content-title {
  color: #100444;
  margin-bottom: 30px;
  margin-left: 5px;
}
.margin-left5pc {
  margin-left: 5% !important;
}
.list-group-item:last-child {
  margin-bottom: 80px;
}
.card-image-top2 {
  height: 50vh;
  // background-size: cover;
}
.set-inline {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
}
.instrument-card {
    height: 220px;
    display: block;
    margin: 10px auto;
    width: 100%;
}

.instrument-card1 {
    height: 50%;
    width: 100%;
    display: block;
    border-radius: 5%;
    margin: 10px auto;
}

.instrument-card2 {
    height: 300px;
    width: 100%;
    border-radius: 5%;
    margin: 10px auto;

}

.instrument-card4 {
    height: 200px;
    width: 100%;
  }

.instrument-card-h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}


.jam-card-wrapper {
  height: 500px;
}
